html,
body {
  padding: 0;
  margin: 0;
  /*
    fonts according to https: //systemfontstack.com/
    TODO: try custom font
      https: //www.dharsh.dev/blog/variable-web-fonts-with-nextjs-and-tailwindcss
  */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
